.following-centered{
    position: fixed;
    top: 48%;
    left: 35%;
    width: 30%;
}
.following{
    width: 70%;
    margin: 0 auto;
    background: #F5F5F5;
    /* color: white; */
    position: relative;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 1px 1px 5px #FFD1DC;
    overflow: hidden;
    transition: transform 0.2s;
}
.following:hover{
    transform: translateY(-5px);
    box-shadow: 1px 1px 6px 5px rgba(143, 89, 89, 0.7);

}

.following h4{
    margin-bottom: 0.5rem;
    font-size: larger;
    /* padding: 11px; */
    /* border-bottom: 1px solid rgba(61, 56, 56, 0.8); */
   
}

.list-body{
    display: flex;
    flex-direction: column;
    
    max-height: 40vh;
    overflow: scroll;
    
    
}
.list-item{

    display: flex;
    text-align: left;
    border-top: 1px solid rgba(61, 56, 56, 0.8);
    
}
.list-item img{
    width: 40px;
    object-fit: contain;
    border-radius: 50%;
    padding: 3px ;
    margin: 0 1rem;
}